.contain_nosotros{

    position: absolute;
  transform: translate(0, -90vh);

}

.titulo_nosotros{
    font-size: 7vw;
    
    color: rgb(255, 255, 255, 0);
  -webkit-text-stroke: 2px whitesmoke;
}

@media (min-width:720px){
    

  .contain_nosotros{

    position: absolute;
  transform: translate(0, -100vh);

}
  
  }